/* base settings */

:root {
  color-scheme: light dark;
  margin: 0;
  font-size: 10px;
}

body {
  height: 90vh;
  font-size: 2rem;
  font-family: system-ui;
  font-weight: 500;
  margin: 0 3rem;
}

#root {
  height: 100%;
  width: 100%;
}

/* styling the nav component */

nav {
  display: flex;
  position: sticky;
  justify-content: space-between;
}

nav > h1 {
  text-decoration-line: underline;
  text-decoration-color: orange;
  font-style: italic;
  font-family: 'Secular One', sans-serif;
}

nav > ul {
 display: flex;
 gap: 4rem;
 align-items: center;
}

li {
  list-style: none;
}

.about {
  display: flex;
  flex-direction: row;
  gap: 100px;
  width: 80%;
  margin: 0 3rem;
}

/* styling main component */

img {
  height: 200px;
  width: 200px;
  transition: width 2s;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 90%;
}

.imgAutoSlider {
  animation: animate-image;
  animation-duration: 0.5s;
}

.mainWrapper {
  opacity: 0;
}

.mainWrapperVisible {
  opacity: 1;
  animation: animate-image;
}


/* styling the theme switch */

.container {
  width: 10%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-content-wrapper {
  display: flex;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes animate-image {
  from {
    transform: translateX(-300%);
  }
  to {
    transform: translateX(0);
  }
}
